# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment and configuration
env
venv/
.env

# IDE
/.vscode

.vercel
/logs
chroma_db/

# Ignore all video files
*.mp4

# Ignore all PDF files
*.pdf